<div class="container">
    <div class="row align-items-center g-5">

        <!-- LEFT SIDE -->
        <div class="col-lg-6">

            <!-- Name -->
            <ngx-skeleton-loader appearance="line" [theme]="{ height: '56px', width: '80%', 'margin-bottom': '16px' }">
            </ngx-skeleton-loader>

            <!-- Designation -->
            <ngx-skeleton-loader appearance="line" [theme]="{ height: '28px', width: '60%', 'margin-bottom': '32px' }">
            </ngx-skeleton-loader>

            <!-- Description -->
            <ngx-skeleton-loader count="3" appearance="line"
                [theme]="{ height: '18px', width: '100%', 'margin-bottom': '12px' }">
            </ngx-skeleton-loader>

            <!-- Buttons -->
            <div class="d-flex gap-3 mt-4">
                <ngx-skeleton-loader appearance="line"
                    [theme]="{ height: '48px', width: '160px', 'border-radius': '8px' }">
                </ngx-skeleton-loader>

                <ngx-skeleton-loader appearance="line"
                    [theme]="{ height: '48px', width: '160px', 'border-radius': '8px' }">
                </ngx-skeleton-loader>
            </div>

            <!-- Social Icons -->
            <div class="d-flex gap-3 mt-4">
                <ngx-skeleton-loader count="3" appearance="circle" [theme]="{ height: '40px', width: '40px' }">
                </ngx-skeleton-loader>
            </div>
        </div>

        <!-- RIGHT SIDE (IMAGE) -->
        <div class="col-lg-6">
            <ngx-skeleton-loader appearance="line" [theme]="{
              height: '420px',
              width: '100%',
              'border-radius': '12px'
            }">
            </ngx-skeleton-loader>
        </div>

    </div>
</div>